<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Change of password
                </mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <br>
        <form [formGroup]="changePasswordForm" (submit)="submitForm()">
            <mat-card-content>
                <mat-grid-list cols="1" rowHeight="6:1">
                        <mat-grid-tile>
                            <!--Email-->
                            <mat-card-title class="pre-title">Enter your email</mat-card-title>
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" placeholder="Ex. example@upc.edu.pe"/>
                                <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong> </mat-error>
                                <mat-error *ngIf="email?.errors?.['email'] && !email?.errors?.['required']">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                           <!--Password-->                        
                            <mat-card-title class="pre-title">New Password</mat-card-title>
                           <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password"/>
                            <mat-error *ngIf="password?.errors?.['required'] ">Password is <strong>required</strong></mat-error>
                            <mat-error *ngIf="password?.errors?.['minlength'] && !password?.errors?.['required']">
                                Password must be at least <strong>5</strong> characters length
                            </mat-error>
                        </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                           <!--Confirm Password-->
                            <mat-card-title class="pre-title">Confirm Password</mat-card-title>
                           <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="confirmPassword"/>
                            <mat-error *ngIf="confirmPassword?.errors?.['required'] ">Password confirmation is <strong>required</strong></mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.['minlength'] && !confirmPassword?.errors?.['required']">
                                Password must be at least <strong>5</strong> characters length
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.['MustMatch']">Confirm Password didn't match</mat-error>
                        </mat-form-field>
                        </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
            <mat-card-actions class="boton">
                <button  routerLink="/login" [disabled]="!changePasswordForm.valid" mat-flat-button color="primary" type="submit">Save</button>
            </mat-card-actions>
            <ng-template [ngIf]="submitted">
                <span>Successful Password Change!</span>
            </ng-template>
        </form>
    </mat-card>
</div>