.title{
    margin-top: 10px;
    margin-left: 10px;
}



.form-container{
    width: 60%;
    margin: auto;
    text-align: center;
}
.dated{
    width: 33%;
}

.form-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15 px 0;
}

.form-radio-button{
    margin: 5px;
}

.full-width{
    width: 100%;
}


.boton{
    text-align: center;
}